:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: rgb(250, 249, 249);
  --color-grey-light-2: rgb(244, 242, 242);
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes something {
  0% {
    opacity: 0;
    transform: translateZ(-3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.header {
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(255, 51, 102, 0.8),
      rgba(186, 38, 93, 0.8)
    ),
    url(./img/pustemircanahediye.png);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  position: relative;
}

.header__logo {
  padding-top: 7rem;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.skylab-logo {
  width: 100px;
  animation: something 1s;
  backface-visibility: hidden;
  /*transform: translateX(-2%);*/
}

.header__text-box {
  width: 90%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
  font-size: 4rem;
  font-weight: 400;
}

.heading-primary--first {
  display: block;
  animation: moveInLeft 1s ease-out;
  letter-spacing: 2rem;
}

.heading-primary--second {
  display: block;
  animation: moveInRight 1s ease-out;
  letter-spacing: 1rem;
}

/*
.btn {
  border: 2px solid var(--color-grey-light-2);
  outline: none;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-grey-light-3);
  background-color: transparent;
}
*/

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-grey-light-3);
  border: none;
  cursor: pointer;
  border: 2px solid var(--color-grey-light-2);
  letter-spacing: 0.3rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  background-color: var(--color-grey-light-1);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn__sign-up {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.header__date {
  color: var(--color-grey-light-1);
  position: absolute;
  display: inline-block;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.header__date h3 {
  font-size: 2.5rem;
  animation: something 1s;
  backface-visibility: hidden;
  font-weight: 400;
}

.information-section {
  padding: 6rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(39, 35, 35, 0.8),
      rgba(10, 8, 8, 0.8)
    ),
    url(./img/pustemircanahediye.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.information-section__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.information-section__title {
  font-size: 3.5rem;
  color: var(--color-grey-light-3);
  margin-bottom: 5rem;
  font-weight: 700;
}

.information-section__text {
  font-size: 2.2rem;
  color: var(--color-grey-light-2);
  padding: 0 8rem;
  font-weight: 400;
}
.information-section__text_lection-1{
  font-size: 1.9rem;
  color: var(--color-black-dark-1);
  letter-spacing: 6 25rem;
  font-weight: 100;
  padding: 0 3rem;
  font-weight:600;
  transform: translateX(1%);
}

.information-section__text_lection-2{
  font-size: 1.9rem;
  color: var(--color-black-dark-1);
  letter-spacing: 6 25rem;
  font-weight: 100;
  padding: 0 3rem;
  font-weight:600;
  transform: translateX(-5%);
}

.information-section__text_lection-3{
  font-size: 1.9rem;
  color: var(--color-black-dark-1);
  letter-spacing: 6 25rem;
  font-weight: 100;
  padding: 0 3rem;
  font-weight:600;
  transform: translateX(-5%);
}

.information-section__btn,
.information-section__btn:link,
.information-section__btn:visited {
  font-size: 1.6rem;
  color: var(--color-grey-light-3);
  display: inline-block;
  letter-spacing: 0.25rem;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid var(--color-grey-light-3);
  padding: 1rem 2rem;
  transition: all 0.2s;
  margin-top: 2rem;
}

.information-section__btn:hover {
  background-color: var(--color-grey-light-3);
  color: var(--color-grey-dark-1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.information-section__btn:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.overview-section {
  position: relative;
  transition: all 0.5s;
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(250, 249, 249, 0.8),
      rgba(244, 242, 242, 0.8)
    ),
    url(./img/pustemircanahediye.png);
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  overflow: hidden;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.overview-section__title {
  padding: 1rem 0;
  text-align: center;
  font-size: 3rem;
  transition: all 0.5s;
  color: var(--color-primary);
}

.title--hidden {
  opacity: 0;
  transform: translateY(10rem);
}

.container {
  width: 65%;
  margin: 10px auto;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.description {
  margin-top: 3rem;
}

.description--right {
  text-align: right;
  transition: all 0.5s;
}

.right--hidden {
  opacity: 0;
  transform: translateX(-10rem);
}

.description--left {
  text-align: left;
  transition: all 0.5s;
}

.left--hidden {
  opacity: 0;
  transform: translateX(10rem);
}

.description__icon {
  height: 4rem;
  width: 4rem;
  outline: 2px solid var(--color-primary);
  outline-offset: 1rem;
  margin-bottom: 2rem;
  fill: var(--color-primary-dark);
}

.description--right .description__icon {
  margin-right: 3rem;
}

.description--left .description__icon {
  margin-left: 6rem;
}

.description__text--title {
  font-size: 3rem;
  font-weight: 400;
  color: #111;
  margin-right: 1.2rem;
  color: var(--color-primary-dark);
  font-weight: 700;
}

.description--left .description__text--title {
  margin-left: 5rem;
}

.description__text--paragraph {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #222;
  padding: 1rem 5rem;
  margin-right: -4rem;
  color: var(--color-primary-dark);
  font-weight: 700;
}

.description--gift {
  text-align: center;
  transition: all 0.5s;
}

.description--gift .description__icon {
  transform: translateX(70%);
}

.description--gift .description__text--title {
  transform: translateX(2%);
}

.description--gift .description__text--paragraph {
  transform: translateX(1%);
}

.bottom--hidden {
  opacity: 0;
  transform: translateY(6rem);
}

.event-section {
  background-color: var(--color-grey-light-2);
  padding: 4rem 0 6rem 0;
  transition: all 0.4s;
}

.event__title {
  padding-top: 4rem;
  text-align: center;
  font-size: 3rem;
  transition: all 0.5s;
  color: var(--color-primary);
  margin-bottom: 6rem;
}

.event__days {
  display: flex;
  justify-content: center;
}

.event__day {
  border: 1px solid var(--color-primary-light);
  width: 20rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  color: var(--color-primary-dark);
}

.event__day--active {
  background-color: var(--color-primary);
  color: white;
}

.day {
  font-size: 2.5rem;
  font-weight: 400;
}

.date {
  font-size: 1.5rem;
}

.event__day:hover {
  background-color: var(--color-primary);
  color: white;
}

.event-activities {
  width: 70%;
  margin: 5rem auto;
}

.activity {
  display: flex;
  flex-direction: column;
  padding: 3rem 6rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  box-shadow: 0 2rem 4rem rgb(240, 229, 229);
  background-color: var(--color-grey-light-1);
}

/*.activity-image__person {
  width: 15rem;
  border-radius: 50%;
}*/

.activity-text {
  text-align: center;
}

.activity-text__name {
  margin: 1rem 0 2rem 0rem;
  font-size: 3rem;
  text-transform: capitalize;
}
.activity-text__name_2 {
  margin: 1rem 0 2rem 0rem;
  font-size: 3rem;
  text-transform: capitalize;
}

.activity-button {
  text-align: center;
}
.activity-button_sartname {
  text-align: center;
}

.activity-button__link,
.activity-button__link:link,
.activity-button__link:visited {
  font-size: 1.3rem;
  color: var(--color-primary);
  display: inline-block;
  letter-spacing: 0.25rem;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  display: inline-block;
  padding: 1rem 2rem;
  transition: all 0.2s;
}

.challenge-link:hover {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.challenge-link:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.btn-sth-active:hover {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn-sth {
  border: none;
  outline: none;
  margin-top: 0.8rem;
}

.hidden--activity {
  display: none;
}

.active--activity {
  display: block;
}

.eacikkaynak-section {
  color: var(--color-grey-light-3);
  background-image: url(./img/arkaplan.jpg);
  background-size: cover;
  background-position: center;
}

.eacikkaynak-section-container {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 6rem;
  transition: all 0.5s;
}

.hidden--container {
  transform: translateZ(-5rem);
  transform: scale(0.2);
  opacity: 0;
}

.eacikkaynak-logo {
  width: 22rem;
  margin-bottom: -8rem;
  margin-top: -8rem;
  transform: translateX(-25%);
}

.eacikkaynak-section__social-media-icons {
  text-align: center;
  display: inline-block;
  transform: translateX(-30%);
  margin: 3rem 0 1.5rem 0;
}

.eacikkaynak-section__icon-link {
  margin-right: 2rem;
}

.eacikkaynak-section__icon {
  width: 3rem;
  height: 3rem;
  fill: white;
  transition: all 0.2s;
}

.eacikkaynak-section__icon:hover {
  fill: #39c1f7;
}

.eacikkaynak-text-box {
  margin-left: 2rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.eacikkaynak-info {
  font-size: 2.5rem;
  transform: translateX(-5%);
  padding: 0 3rem;
}

.eacikkaynak-link {
  display: inline-block;
  transform: translateX(-30%);
}

.btn__eacikkaynak-link,
.btn__eacikkaynak-link:link,
.btn__eacikkaynak-link:visited {
  font-size: 1.6rem;
  color: #39c1f7;
  display: inline-block;
  letter-spacing: 0.25rem;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid #39c1f7;
  padding: 1rem 2rem;
  transition: all 0.2s;
  margin-top: 1rem;
}

.btn__eacikkaynak-link:hover {
  background-color: var(--color-grey-light-3);
  color: #0584b6;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn__eacikkaynak-link:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.footer {
  padding: 6rem 0 13rem 0;
  background-color: #222;
  position: relative;
}

.footer__img-box {
  text-align: center;
}

.footer__img {
  width: 15rem;
  margin-top: -4rem;
  margin-bottom: 2rem;
}

.footer__social-media-icons {
  text-align: center;
  display: inline-block;
  position: absolute;
  top: auto;
  left: 50%;
  transform: translateX(-46%);
}

.footer__icon-link {
  margin-right: 2rem;
}

.footer__icon {
  width: 3rem;
  height: 3rem;
  fill: white;
  transition: all 0.2s;
}

.footer__icon:hover {
  fill: var(--color-primary);
}

.skylab-link {
  display: inline-block;
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translateX(-47%);
}

.btn__skylab,
.btn__skylab:link,
.btn__skylab:visited {
  font-size: 1.6rem;
  color: var(--color-primary);
  display: inline-block;
  letter-spacing: 0.25rem;
  font-weight: 700;
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  display: inline-block;
  padding: 1rem 2rem;
  transition: all 0.2s;
  margin-top: 1rem;
}

.btn__skylab:hover {
  background-color: var(--color-primary);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.btn__skylab:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

@media (max-width: 1140px) {
  html {
    font-size: 55.5%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 50.5%;
  }

  .eacikkaynak-section__icon {
    width: 5rem;
    height: 5rem;
  }

  .footer {
    padding: 12rem 0 18rem 0;
  }

  .footer__img-box {
    margin-bottom: 5rem;
  }

  .footer__icon {
    width: 5rem;
    height: 5rem;
  }

  .skylab-link {
    margin-top: 4rem;
  }
}

@media (max-width: 910px) {
  html {
    font-size: 45.5%;
  }
}

@media (max-width: 814px) {
  html {
    font-size: 40.5%;
  }

  .event__days {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: block;
  }

  .description--right {
    text-align: center;
  }

  .description--right .description__icon {
    transform: translateX(20%);
  }

  .description--right .description__text--paragraph {
    transform: translateX(-5%);
  }

  .description--left {
    text-align: center;
  }

  .description--left .description__icon {
    transform: translateX(-85%);
  }

  .description--left .description__text--title {
    transform: translateX(-3%);
  }

  .description--left .description__text--paragraph {
    transform: translateX(-5%);
  }

  .description--gift .description__icon {
    transform: translateX(-10%);
  }

  .description--gift .description__text--title {
    transform: translateX(-0.5%);
  }

  .description--gift .description__text--paragraph {
    transform: translateX(-2%);
  }

  .btn__skylab,
  .btn__skylab:link,
  .btn__skylab:visited {
    margin-top: 3rem;
  }
}

@media (max-width: 714px) {
  .activity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 714px) {
  .activity-image__person {
    width: 12rem;
  }

  .activity-text__name {
    font-size: 2.5rem;
  }
}
